# Configuration app
APP_ENV=production
APP_KEY=
APP_NAME="Slim 4 Skeleton"
APP_LOCALE=pt_BR
APP_TIMEZONE=America/Sao_Paulo
APP_MAINTENANCE=false
APP_ONLY_API=false
APP_RESPONSE_ERROR_JSON=false

# Secret keys
API_SECRET_KEY=
DEPLOY_SECRET_KEY=

# Password hashing
PASSWORD_DEFAULT_DRIVER=argon2i
PASSWORD_VERIFY_ALGORITHM=true

# Database
DB_DRIVER=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=development
DB_TIMEZONE=UTC

# Mailer
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_MAIL=
MAIL_FROM_NAME=

# Redis
REDIS_URL=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=root
REDIS_SCHEMA=tcp
REDIS_DATABASE=0
REDIS_DATABASE_CACHE=1
