{# Layout #}
{% extends "_layout/main.twig" %}

{# Variables #}
{% set type = null %}
{% set title = null %}
{% set keywords = null %}
{% set abstract = null %}
{% set description = null %}
{% set image = null %}

{# Content #}
{% block content %}
  <p class="text-center">offline page</p>
{% endblock %}
