{# Layout #}
{% extends "layout/main.twig" %}

{# Variables #}
{% set type = null %}
{% set title = null %}
{% set keywords = null %}
{% set abstract = null %}
{% set description = null %}
{% set image = null %}

{# Content #}
{% block content %}
  <main class="vc-welcome">
    <header>
      <h1>Bem vindo(a)!</h1>
      <p>Você é capaz e sempre de o melhor de sí em tudo oque fizer.</p>
    </header>
  </main>
{% endblock %}
