/**/.idea
/**/.env*
!/**/.env.example
/**/vendor
/**/node_modules
/**/.DS_Store
/**/.php_cs.cache
/**/*.map
/**/resources/database/schema.sql

# Docker
/**/docker/redis/*
/**/docker/mysql/*
/**/docker/apache/logs/*
/**/docker/postgres/*
/**/docker/nginx/logs/*
!/**/docker/mysql/config
!/**/docker/mysql/database/.gitkeep
!/**/docker/postgres/.gitkeep
!/**/docker/apache/logs/.gitkeep
!/**/docker/nginx/logs/.gitkeep
!/**/docker/redis/.gitkeep

# Cache
/**/storage/cache/app/*
/**/storage/cache/twig/*
/**/storage/cache/container/*
!/**/storage/cache/app/.gitkeep
!/**/storage/cache/twig/.gitkeep
!/**/storage/cache/container/.gitkeep

# Logs
/**/storage/logs/*
/**/storage/logs/**/.gitkeep

# Session
/**/storage/sessions/*
!/**/storage/sessions/.gitkeep

# Public folder
/**/public_html/uploads/*
!/**/public_html/uploads/.gitkeep
