/* Reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 12px;
  color: #333333;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;

  li {
    margin: 0 !important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

table td {
  vertical-align: top;
}

/* Tipográfia */
h1,
h2,
h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: #000000;
  font-weight: 400;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

p {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

p,
ul,
ol {
  font-weight: normal;
}

p li,
ul li,
ol li {
  list-style-position: inside;
}

/* Link */
a {
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
}

/* Conteudo */
@mixin clearfix() {
  &::after,
  &::before {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.body-wrap {
  width: 100%;
}

.container {
  display: block;
  width: 100%;
  /*margin: 0 auto;*/

  @include clearfix;
}

.content {
  max-width: 500px;
  /*margin: 0 auto;*/
  display: block;
  padding: 10px 0;

  @include clearfix;

  &-block {
    padding: 10px 0;
  }
}

/* Footer */
.footer {
  width: 100%;
  clear: both;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #eeeeee;

  a {
    display: block;
    color: #474747;
    font-size: 11px !important;
  }

  p {
    font-size: 11px !important;
    color: #474747;
    margin-bottom: 0;
  }
}

/* Table */
.table {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  text-align: center;

  thead tr {
    background: #f7f7f7;
    font-weight: 700;

    th {
      padding: 5px;
    }
  }

  tbody tr td,
  tfoot tr td {
    padding: 3px;
  }
}

/* Text align */
$text: (left, right, center, justify, justify-all, start, end, match-parent);
@each $align in $text {
  .text-#{$align} {
    text-align: #{$align} !important;
  }
}

/* Margin & Padding */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $prop2, $abbrev2 in (top: t, left: l, bottom: b, right: r) {
    @for $i from 0 through 4 {
      $i: $i * 5;

      /* Margin e Padding positivos */
      .#{$abbrev}-#{$i} {
        #{$prop}: #{$i + 'px'} !important;
      }

      .#{$abbrev}tb-#{$i} {
        #{$prop}: #{$i + 'px'} 0px !important;
      }

      .#{$abbrev}lr-#{$i} {
        #{$prop}: 0px #{$i + 'px'} !important;
      }

      .#{$abbrev}#{$abbrev2}-#{$i} {
        #{$prop}-#{$prop2}: #{$i + 'px'} !important;
      }

      /* Margin e Padding negativos */
      .#{$abbrev}-n#{$i} {
        #{$prop}: -#{$i + 'px'} !important;
      }

      .#{$abbrev}tb-n#{$i} {
        #{$prop}: -#{$i + 'px'} 0px !important;
      }

      .#{$abbrev}lr-n#{$i} {
        #{$prop}: 0px -#{$i + 'px'} !important;
      }

      .#{$abbrev}#{$abbrev2}-n#{$i} {
        #{$prop}-#{$prop2}: -#{$i + 'px'} !important;
      }
    }
  }
}
