*[data-href] {
  cursor: pointer !important;
}

*[class*='ajax-message'] {
  display: none;
  position: relative;
  max-width: 100%;

  .alert {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.2rem 1.5rem;
    border: 1px solid var(--gray-100);
    text-align: center;
    border-radius: 1.5rem;
    width: 100%;

    p {
      margin-bottom: 0;
    }

    &.alert-danger {
      color: var(--red-600) !important;
      border-color: var(--red-600) !important;
    }

    &.alert-success {
      color: var(--green-600) !important;
      border-color: var(--green-600) !important;
    }
  }
}

.is-invalid {
  border-color: var(--red-600) !important;
  color: var(--red-600) !important;

  &::placeholder {
    color: var(--red-600) !important;
  }
}

.is-valid {
  border-color: var(--green-600) !important;
  color: var(--green-600) !important;

  &::placeholder {
    color: var(--green-600) !important;
  }
}

.invalid-feedback {
  color: var(--red-600) !important;
  margin-top: 0.3rem;
  font-size: 1.2rem;
  padding-left: 1.5rem;

  @media (min-width: 1025px) {
    padding-left: 2.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.shadow-0 {
  box-shadow: none !important;
}

.shadow-1 {
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.shadow-1-1 {
  box-shadow:
    0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.shadow-2 {
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.shadow-3 {
  box-shadow:
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.shadow-4 {
  box-shadow:
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.shadow-5 {
  box-shadow:
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
