@import 'reset';
@import 'fonts';
@import 'global';
@import 'helpers';

// Welcome
.vc-welcome {
  height: 100vh;
  background: url('../images/background.jpeg') fixed no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  header {
    width: 100%;
    background: rgba(#000000, 0.6);
    padding: 50px 0;
    text-align: center;
  }
}
